<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Admin Details</title>
</head>
<body>
<section layout:fragment="main-content">
<h2>Complete Your Details</h2>

<form th:action="@{/admin/save_details}" method="post" th:object="${admin}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"th:field="*{surname}" required>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" th:field="*{age}" required>
    </div>
    <button type="submit">Save Details</button>
</form>
</section>
</body>
</html>